@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1E1C28;
  --color-background: #ffffff;
  --color-foreground: #1E1C28;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
